:root {
    --first-color: hwb(233 3% 84%);
    --second-color: hwb(228 11% 67%);
    --third-color: hwb(190 9% 21%);
}

.debit {
    color: hwb(120 0% 45%) !important;
}

.credit {
    color: hwb(0 0% 15%) !important;
}

.first-color-bg {
    background-color: var(--first-color) !important;
}

.second-color-bg {
    background-color: var(--second-color) !important;
}

.third-color-bg {
    background-color: var(--third-color) !important;
}

.btn--mod {
    background-color: var(--third-color);
    border: solid 1px transparent;
}

.btn--mod:hover {
    background-color: transparent;
    color: var(--third-color);
    border: solid 1px var(--third-color);
}
.btn--mod:active {
    background-color: var(--third-color) !important;
    border: solid 1px transparent !important;
}

.manager-app {
    padding: 0.5rem;
    background-color: var(--second-color);
    min-height: 100vh;
}

/* ------ */

.container--mod {
    width: 22rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;
}

.header-contain {
    height: 55vh;
    position: relative;
    background: url(../assets/header-image-account-v2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-contain {
    position: absolute;
    background: hwb(233 3% 84% / 0.8);
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}

.account-app {
    background-color: var(--first-color);
    min-height: 100vh;
}

.header-nav {
    background-color: var(--second-color);
    padding: 1rem 0;
    color: #fff !important;
    font-size: 1.25rem;
}

.link {
    transition: color 300ms;
    font-weight: bold !important;
}

.link:hover:not(.link-active) {
    color: var(--third-color) !important;
}

.link-active {
    color: #15aac0 !important;
}

.title {
    color: #fff;
}

.card--mod {
    background-color: hwb(228 11% 67%) !important;
    width: 20rem !important;
    min-height: 8rem;
    padding: 0 !important;
}

.card-body--mod {
    height: 100%;
    padding: 0.75rem 0.95rem !important;
}

.separation {
    padding-top: 8rem;
}

.card-details-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--second-color);
    width: 18rem;
    height: 11.2rem;
    text-align: center;
    color: #fff;
    margin-bottom: 1.875rem;
}

.card-details-account i {
    font-size: 5rem;
}
.card-details-account p {
    position: relative;
}

footer {
    color: #fff;
    background-color: var(--second-color);
    height: 8vh;
}

.color-text-footer {
    color: #15aac0;
}

[v-cloack] {
    display: none;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--second-color); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.loader {
    border: 8px solid #f3f3f3; /* Luz gris para el borde del loader */
    border-top: 8px solid var(--third-color); /* Azul para la parte superior del borde */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animación de rotación */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 480px) {
    .container--mod {
        width: 32rem;
    }

    .card-details-account {
        min-width: 100%;
    }
}

@media only screen and (min-width: 576px) {
    
}
@media only screen and (min-width: 768px) {
    .header-nav {
        background-color: #070b29cc;
    }

    .header-contain {
        height: 68vh;
    }

    .container--mod {
        width: 100%;
    }

    .card-details-account {
        width: 20%;
        min-width: auto;
    }

    
}

@media only screen and (min-width: 992px) {
    .rest-response {
        width: 38%;
    }
}

@media only screen and (min-width: 1200px) {
}



.premium-card {
    position: relative;
    background: linear-gradient(45deg, #1c2754 55%, #566480); /* Degradado azul oscuro a más claro */
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra suave */
    padding: 30px;
    margin-bottom: 30px;
    color: #fff; /* Texto blanco */
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .card-info {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .btn-details {
    font-size: 1.3rem;
    color: var(--third-color);
    position: absolute;
    right: 0.5rem;
    top: 0.25rem;
  }

  .custom-tooltip {
    background-color: #15aac0;
    color: #fff;
  }

  /* .btn-details:hover {
    
  } */