<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINOVATE - Accounts</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="shortcut icon" href="../assets/logo-favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>


        <div id="app" class="app flex-column">
            <header v-cloack>
                <div class="header-contain d-flex flex-column align-items-center justify-content-center">
                  <div class="bg-contain"></div>
                  <nav class="navbar navbar-expand-md header-nav w-100">
                      <div class="container-fluid container--mod">
                          <a class="navbar-brand text-white fs-4" href="#"
                              ><img src="../assets/logo-page.png" class="logo d-none d-sm-inline-block" alt="logo">
                              <img src="../assets/logo-favicon.png" class="logo-sm d-sm-none" alt="logo">
                              <h1 class="d-none">FINOVATE</h1>
                              </a
                          >
                          <input 
                                id="checkbox"
                                type="checkbox"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                          <label class="toggle" for="checkbox">
                             <div id="bar1" class="bars"></div>
                             <div id="bar2" class="bars"></div>
                             <div id="bar3" class="bars"></div>
                          </label>
                          <div
                              class="collapse navbar-collapse justify-content-end"
                              id="navbarNav"
                          >
                              <ul class="navbar-nav mt-3 mt-md-0">
                                  <li class="nav-item link link-active">
                                      <a
                                          class="nav-link text-white ms-3 ms-md-0"
                                          aria-current="page"
                                          href="#"
                                          >Accounts</a
                                      >
                                  </li>
                                  <li class="nav-item link">
                                      <a class="nav-link text-white ms-3 ms-md-0" href="./cards.html"
                                          >Cards</a
                                      >
                                  </li>
                                  <li class="nav-item link">
                                      <a class="nav-link text-white ms-3 ms-md-0" href="#"
                                          >Trasaction</a
                                      >
                                  </li>
                                  <li class="nav-item link">
                                      <a class="nav-link text-white ms-3 ms-md-0" href="#"
                                          >Loan</a
                                      >
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </nav>
                  <h2 class="title-header mb-0 fw-semibold user-select-none" v-if="!loading">Accounts</h2>
                </div>
            </header>
            <main class="flex-grow-1" v-cloack>
                <section class="first-color-bg pt-5">
                    <div class="container">
                        <div class="title text-center mb-4">
                            <h2>Hello, {{client.firstName}}</h2>
                            <p class="">These are their accounts:</p>
                        </div>
                        <div class="d-flex flex-wrap gap-4 justify-content-center">
                            <div v-for="account of client.accounts" class="premium-card text-center">
                                <a :href="`./account.html?id=${account.id}`" role="button" >
                                    <i class="bi bi-box-arrow-in-up-right btn-details"></i>
                                </a>
                                <p class="card-title mt-3">Account number:
                                    <span class="ms-2">{{account.number}}</span></p>
                                <p class="card-info">Amount: ${{account.balance.toLocaleString()}}</p>
                                <p class="card-info">Creation date: {{account.creationDate}}</p>
                                </div>
                            <div class="container">
                                <div class="row">
                                  <div class="col-12 col-md-8 offset-md-2">
                                    
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </section>
                <section class="four-color-bg section-table-loans">
                    <div class="container pt-5 pb-5">
                        <h4 v-if="client.loans.length === 0" class="third-color-bg text-white text-center mb-0 p-3 user-select-none">No loan records</h4>
                        <div v-else>
                            <h4 class="third-color-bg text-white text-center mb-0 p-3 user-select-none">Loans Log</h4>
                            <div class="table-responsive second-color-bg mb-0">
                                <table class="table table-bordered table-primary table-striped text-center mb-0">
                                  <thead>
                                    <tr class="">
                                      <th scope="col">Name</th>
                                      <th scope="col">Amount</th>
                                      <th scope="col">Payments</th>
                                    </tr>
                                  </thead>
                                  <tbody class="table-group-divider fw-">
                                    <tr v-for="loan of client.loans">
                                        <th>{{loan.name}}</th>
                                        <th>{{loan.amount.toLocaleString()}}</th>
                                        <th>{{loan.payments}}</th>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </main>
            <div v-if="loading" class="loader-container">
              <div class="loader"></div>
            </div>
            <footer class="d-flex justify-content-center align-items-center">
                <p class="m-0 text-center user-select-none">Copyright &copy; 2023 <span class="color-text-footer">FINOVATE</span> All Rights Reserved</p>
            </footer>
        </div>


        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/accounts.js"></script>
    </body>
</html>
