<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINOVATE - Account Details</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="shortcut icon" href="../assets/logo-favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div id="app" class="app d-flex flex-column">
            <header v-cloack>
                <div class="header-contain d-flex flex-column align-items-center justify-content-center">
                  <div class="bg-contain"></div>
                  <nav class="navbar navbar-expand-md header-nav w-100">
                      <div class="container-fluid container--mod">
                          <a class="navbar-brand text-white fs-4" href="#"
                              ><img src="../assets/logo-page.png" class="logo d-none d-sm-inline-block" alt="logo">
                              <img src="../assets/logo-favicon.png" class="logo-sm d-sm-none" alt="logo">
                              <h1 class="d-none">FINOVATE</h1>
                              </a>
                          <input 
                                id="checkbox"
                                type="checkbox"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                          <label class="toggle" for="checkbox">
                             <div id="bar1" class="bars"></div>
                             <div id="bar2" class="bars"></div>
                             <div id="bar3" class="bars"></div>
                          </label>
                          <div
                              class="collapse navbar-collapse justify-content-end"
                              id="navbarNav"
                          >
                              <ul class="navbar-nav mt-3 mt-md-0">
                                  <li class="nav-item link" >
                                      <a
                                          class="nav-link text-white ms-3 ms-md-0"
                                          aria-current="page"
                                          href="./accounts.html"
                                          >Accounts</a
                                      >
                                  </li>
                                  <li class="nav-item link">
                                      <a class="nav-link text-white ms-3 ms-md-0" href="./cards.html"
                                          >Cards</a
                                      >
                                  </li>
                                  <li class="nav-item link">
                                      <a class="nav-link text-white ms-3 ms-md-0" href="./transfers.html"
                                          >Trasaction</a
                                      >
                                  </li>
                                  <li class="nav-item link">
                                      <a class="nav-link text-white ms-3 ms-md-0" href="./loans.html"
                                          >Loan</a
                                      >
                                  </li>
                              </ul>
                              <button class="Btn--logout ms-1 ms-md-0" @click="logout">
                                  <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                                  <div class="text--logout">Logout</div>
                            </button>
                          </div>
                      </div>
                  </nav>
                  <h2 class="title-header mb-0 fw-semibold user-select-none">Account Details</h2>
                </div>
            </header>
            <main class="flex-grow-1 mb-3" v-cloack>
                <div class="container separation ps-md-0 pe-md-0">
                  <div class="row justify-content-center ms-3 me-3 me-md-0 ms-md-0 gap-md-5">
                      <div class="col-12 col-md-3 card-details-account">
                        <i class="bi bi-person-fill"></i>
                        <p>{{client.firstName}}</p>
                      </div>
                      <div class="col-12 col-md-3 card-details-account">
                        <i class="bi bi-cash-stack"></i>
                        <p>Balance: ${{account.balance.toLocaleString()}}</p>
                      </div>
                      <div class="col-12 col-md-3 card-details-account">
                        <i class="bi bi-credit-card-fill"></i>
                        <p>Number: {{account.number}}</p>
                      </div>
                      <div class="col-12 col-md-3 card-details-account">
                        <i class="bi bi-calendar2-week-fill"></i>
                        <p>Creation date: {{account.creationDate}}</p>
                      </div>
                  </div>
                  <section class="col-12">
                      <h4 v-if="account.transactions.length === 0" class="third-color-bg text-white text-center mb-0 p-3 user-select-none">No transactions</h4>
                      <h4 v-else class="third-color-bg text-white text-center mb-0 p-3 user-select-none">Transection Log</h4>
                      <div v-if="account.transactions.length > 0" class="table-responsive second-color-bg p-4 mb-3">
                        <table class="table table-bordered table-primary table-striped text-center mb-0">
                          <thead>
                            <tr class="">
                              <th scope="col">Type</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Current amount</th>
                              <th scope="col">Date</th>
                              <th scope="col">Description</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider">
                            <tr v-for="transaction of account.transactions">
                              <td :class="{'debit': transaction.type === 'DEBIT', 'credit': transaction.type === 'CREDIT'}" class="fw-bold">{{transaction.type}}</td>
                              <td>${{transaction.amount.toLocaleString()}}</td>
                              <td>${{transaction.balanceAccountBeforeTransaction}}</td>
                              <td>{{transaction.date.replace("T", " ")}}</td>
                              <td>{{transaction.description}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </section>
                </div>
                
            </main>

            <div v-if="loading" class="loader-container">
                <div class="loader"></div>
            </div>

            <footer class="d-flex justify-content-center align-items-center">
                <p class="m-0 text-center user-select-none">
                    Copyright &copy; 2023
                    <span class="color-text-footer">FINOVATE</span> All
                    Rights Reserved
                </p>
            </footer>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/Account.js"></script>
    </body>
</html>
